.btn {
  display: inline-flex;
  padding: 15px 25px;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  font-family: $additional-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;

  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
