.contact-us {
  .modal & {
    padding-bottom: 0;
  }

  @include vp-1024 {
    grid-column: 2/-1;
    padding-top: 15px;
    padding-bottom: 20px;
    max-width: 600px;
  }

  @include vp-1023 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.contact-us__fieldset {
  display: flex;
  margin: 0;
  justify-content: stretch;
  flex-wrap: wrap;
  border: none;
  gap: 20px 30px;

  @include vp-1023 {
    padding-left: 0;
    padding-right: 0;
  }
}

.contact-us__fields-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 17px;
  padding: 0.35em 0.75em 0.6em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px 30px;

  @include vp-1023 {
    padding-left: 0;
    padding-right: 0;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 5px;
    gap: 10px;
  }
}

.contact-us__submit-btn {
  flex: 0 1 263px;
  font-size: 16px;
  line-height: 19px;
  order: 1;
  color: $color-white;
  background-color: $color-black-pearl;
  border: none;
}

.contact-us legend,
.contact-us input::placeholder,
.contact-us textarea::placeholder,
.contact-us input,
.contact-us textarea {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
  opacity: 0.8;
}

.contact-us legend::selection,
.contact-us input::selection,
.contact-us textarea::selection,
.contact-us label::selection {
  color: $color-black-pearl;
  background-color: $color-white;
}


.contact-us .custom-input,
.contact-us .custom-textarea {
  @include vp-767 {
    width: 100%;
    padding-bottom: 0;
  }
}

.contact-us .custom-toggle {
  margin: auto auto 0;
  order: 2;
  flex: 0 1 250px;
}
