.contact-us {
  &--modal {
    padding-bottom: 0;
  }

  @include vp-1024 {
    grid-column: 2/-1;
    padding-top: 15px;
    padding-bottom: 20px;
    max-width: 600px;
  }

  @include vp-1023 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
  }

  @include vp-767 {
    padding-top: 18px;
  }
}

.contact-us__fieldset {
  display: flex;
  margin: 0;
  justify-content: stretch;
  flex-wrap: wrap;
  border: none;
  gap: 20px 30px;

  @include vp-1023 {
    padding-left: 0;
    padding-right: 0;
  }
}

.contact-us__fields-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 17px;
  padding: 0.35em 0.75em 0.6em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px 30px;

  @include vp-1023 {
    padding-left: 0;
    padding-right: 0;
    gap: 20px 80px;
  }

  @include vp-767 {
    padding-top: 3px;
    padding-bottom: 27px;
    gap: 21px;
  }
}

.contact-us__submit-btn {
  flex: 0 1 263px;
  font-size: 16px;
  line-height: 19px;
  order: 1;
  color: $color-white;
  background-color: $color-black-pearl;
  border: none;

  @include vp-1023 {
    padding-bottom: 10px;
  }

  @include vp-767 {
    flex: 1 1 auto;
  }
}

.contact-us legend,
.contact-us input::placeholder,
.contact-us textarea::placeholder,
.contact-us input,
.contact-us textarea {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
  opacity: 0.8;
}

.contact-us legend::selection,
.contact-us input::selection,
.contact-us textarea::selection,
.contact-us label::selection {
  color: $color-black-pearl;
  background-color: $color-white;
}

.contact-us .custom-input,
.contact-us .custom-textarea {
  @include vp-767 {
    width: 100%;
    padding-bottom: 0;
  }
}

.contact-us .custom-toggle {
  margin: auto auto 0;
  order: 2;
  flex: 0 1 250px;

  @include vp-1023 {
    margin: 0 auto 0 0;
    flex: 1 1 auto;
  }
}

.contact-us--modal .custom-input {
  input {
    padding: 14px 15px;
  }
}

.contact-us--modal fieldset,
.contact-us--modal .contact-us__fields-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.contact-us--modal .contact-us__fields-wrapper {
  margin-top: 7px;
  gap: 0;
}

.contact-us--modal .contact-us__submit-btn {
  flex: 1 0 auto;
  padding-bottom: 12px;
}

.contact-us--modal .custom-toggle {
  margin-top: 13px;
  margin-left: 4px;
  flex: 1 1 auto;
}
