.custom-textarea {
  position: relative;
  display: flex;
  width: 100%;

  textarea {
    margin: 0;
    padding: 25px 15px 20px;
    flex-grow: 1;

    background: $color-black-pearl-super-transparent;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent;

    transition: border 0.3s ease;

    &:hover {
      background: $color-black-pearl-transparent;
    }

    &:focus {
      border: 1px solid $color-black-pearl;
    }
  }

  &.is-invalid {
    textarea {
      border: 1px solid #ff00007d;

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff00007d, 0.8);
      }
    }
  }

  &.is-valid {
    textarea {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  @include vp-767 {
    textarea {
      padding-bottom: 45px;
    }
  }
}
