.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  flex: 1 1 auto;

  padding-bottom: 5px;

  legend {
    padding: 15px 0;
    float: left;
    width: 100%;
  }

  input,
  textarea {
    margin: 0;
    flex-grow: 1;

    background: $color-black-pearl-super-transparent;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent;

    transition: border 0.3s ease;

    &:hover {
      background: $color-black-pearl-transparent;
    }

    &:focus {
      border: 1px solid $color-black-pearl;
    }
  }

  input {
    padding: 15px;
  }

  textarea {
    padding: 25px 15px;
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid #ff00007d;

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff00007d, 0.8);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    font-size: 14px;
    font-family: $basic-font;
    bottom: -15px;
    right: 0;

    &.is-invalid {
      color: #ff00007d;
    }
  }
}
