.custom-input {
  position: relative;
  display: flex;
  flex: 1 1 auto;

  legend {
    padding: 15px 0;
    float: left;
    width: 100%;
  }

  input {
    margin: 0;
    padding: 15px;
    flex-grow: 1;

    background: $color-black-pearl-super-transparent;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent;

    transition: border 0.3s ease;

    &:hover {
      background: $color-black-pearl-transparent;
    }

    &:focus {
      border: 1px solid $color-black-pearl;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid #ff00007d;

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff00007d, 0.8);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
      }
    }
  }
}
