.custom-toggle {
  position: relative;
  display: grid;
  padding: 10px 5px;
  flex: 1 1 auto;
  grid-template-columns: 15px 1fr;
  align-items: center;
  gap: 11px;
  border-radius: 3px;
  color: $color-white-transparent;

  font-family: $basic-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  input {
    position: relative;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    grid-column: 1/2;
    grid-row: 1/-1;
    cursor: pointer;
    border: 1px solid $color-white-transparent;
    transition: border 0.3s ease;
  }

  label {
    grid-column: 2/-1;
  }

  &--checkbox {
    input {
      border-radius: 3px;
    }

    input[type="checkbox"]:checked::before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/svg/checkbox.svg");
    }
  }

  input:focus-visible {
    width: 15px;
    height: 15px;
    margin: 0;
    left: 10px;
    clip: auto;
  }

  &:hover {
    color: $color-white;

    input {
      border-color: $color-white;
    }
  }

  &.is-invalid {
    background-color: #ff00003c;
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -15px;

    &.is-invalid {
      color: #ff00007d;
    }
  }
}
