.custom-toggle {
  position: relative;
  display: flex;
  flex: 1 1 260px;
  padding: 10px 5px;
  align-items: center;
  border-radius: 3px;

  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: $color-white-transparent;

  @media screen and (max-width: 767px) {
    padding: 14px 0 10px 0;
    width: 100%;
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;

    font-family: $basic-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    padding-left: 35px;

    cursor: pointer;
  }

  &__label {
    margin-bottom: 0;
    margin-left: 0;
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      display: inline-block;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      left: 10px;
      top: 2px;

      padding: 5px;

      border: 1px solid $color-white-transparent;
      border-radius: 3px;

      transition: border 0.3s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;

        height: 1px;

        transition: background-color 0.3s ease;
      }

      &::before {
        top: 50%;
        left: 15%;
        width: 5px;
        transform: rotate(45deg);
      }

      &::after {
        top: 45%;
        left: 35%;
        width: 7px;
        transform: rotate(-45deg);
      }
    }
  }

  input[type="checkbox"]:checked + .custom-toggle__icon {
    &::before,
    &::after {
      background-color: $color-white-transparent;
    }

    input:checked + .custom-toggle__icon {
      border: 1px solid $color-white-transparent;
    }

    input:checked:hover + .custom-toggle__icon {
      &::before,
      &::after {
        background-color: $color-white;
      }
    }

    &.is-invalid {
      label span {
        color: #ff1553;
      }
    }

    .input-message {
      position: absolute;
      right: 0;
      bottom: -5px;

      &.is-invalid {
        color: #ff0000;
      }

      &.is-valid {
        color: #15ab07;
      }
    }
  }

  input:focus-visible {
    width: 15px;
    height: 15px;
    margin: 0;
    left: 10px;
    clip: auto;
  }

  &:hover {
    color: $color-white;
  }

  &:hover .custom-toggle__icon {
    border-color: $color-white;
  }

  &:hover input:checked + .custom-toggle__icon {
    &::before,
    &::after {
      background-color: $color-white;
    }
  }

  &.is-invalid {
    background-color: #ff00003c;
  }

  .input-message {
    position: absolute;
    right: 0;
    font-family: $basic-font;
    bottom: -25px;
    font-size: 14px;

    &.is-invalid {
      color: #ff00007d;
    }
  }
}
