.footer-container {
  display: grid;
  margin: 0 auto;
  max-width: 1222px;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-container__logo-social {
}
.footer-container__social-list {
}
.footer-container__social-list-item {
}
.footer-container__site-menu {
}
.footer-container__list {
}
.footer-container__list--site-menu {
}
.footer-container__list-item {
}
.footer-container__contacts {
}
.footer-container__list--contacts {
}
