.header {
  position: absolute;
  width: 100%;
  background: $top-to-bottom;
  z-index: 1;


  a {
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.5;
    }
  }

  @include vp-1024 {
    position: fixed;
    width: 100vw;
  }
}
