.logo {
  display: grid;
  box-sizing: border-box;
  width: fit-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr min-content;
  gap: 5px 15px;

  &--footer {
  }
}

.logo__icon {
  grid-column: 1/2;
  grid-row: 1/-1;
  fill: $highlight;
}

.logo__title {
  grid-column: 2/-1;
  grid-row: 1/2;
  font-family: $additional-font;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $general-light;

  .logo--header & {
    @include vp-767 {
      @include visually-hidden;
    }
  }
}

.logo__caption {
  grid-column: 2/-1;
  grid-row: 2/-1;
  font-family: $highlight-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $lightest-transparent;

  .logo--header & {
    @include vp-767 {
      @include visually-hidden;
    }
  }
}

