.logo {
  display: inline-flex;
  box-sizing: border-box;
  width: fit-content;

  span {
    @include visually-hidden;
  }

  @include vp-767 {
    &--header {
      padding-top: 10px;
      margin: 0 auto;
    }

    &--header svg {
      width: 35px;
      height: 35px;
    }
  }
}

.logo__icon {
  &--mobile {
    display: none;
  }

  @include vp-767 {
    .logo--header > &--mobile {
      display: initial;
    }

    .logo--header > &--desktop {
      display: none;
    }
  }
}
