.navigation {
  display: grid;
  margin: 0 auto;
  padding: 30px 60px 35px 60px;
  max-width: 1342px;
  grid-template-columns: min-content 1fr auto;
  gap: 30px;
  justify-content: center;

  @include vp-1023 {
    grid-template-columns: min-content 1fr;
    padding: 20px 50px 25px 50px;
  }

  @include vp-767 {
    grid-template-columns: min-content 1fr;
    padding: 10px 25px 20px 25px;
  }
}

.navigation__list {
  display: flex;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  list-style: none;
  gap: 30px;

  @include vp-1023 {
    margin: 0 0 auto 0;
    justify-content: flex-end;
  }
}

.navigation__item {
  margin: auto;

  @include vp-1023 {
    margin: 0;
  }
}

.navigation__link {
  display: grid;
  padding: 11px;
  grid-template-columns: min-content min-content;
  box-sizing: border-box;
  color: $color-alice-blue;
  gap: 15px;

  @include vp-1023 {
    display: inline-block;
    width: 40;
    height: 40px;
  }
}

.navigation__icon {
  fill: $color-deep-sky-blue;
}

.navigation__title {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @include vp-1023 {
    .navigation__item--email &,
    .navigation__item--phone & {
      @include visually-hidden;
    }
  }
}

.navigation__btn {
  margin-top: 5px;
  padding: 10px 15px;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  justify-self: flex-start;

  @include vp-1023 {
    display: none;
  }
}
