.navigation {
  display: flex;
  margin: 0 auto;
  padding: 30px 60px 35px 60px;
  max-width: 1342px;
  gap: 30px;
  justify-content: space-between;

  @include vp-1023 {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 20px 50px 25px 50px;
  }

  @include vp-767 {
    grid-template-columns: min-content 1fr;
    padding: 10px 25px 20px 25px;
  }
}

.navigation__list {
  display: grid;
  margin: 5px auto auto auto;
  padding: 0;
  grid-template-columns: 225px 225px;
  gap: 30px;
  list-style: none;

  @include vp-1023 {
    display: flex;
    margin: 0 0 auto 0;
    justify-content: flex-end;
    gap: 18px;
  }
}

.navigation__item {

  @include vp-1023 {
    & + & {
      margin-right: 20px;
    }
  }

  @include vp-767 {
    & + & {
      margin-right: 10px;
    }
  }
}

.navigation__link {
  display: grid;
  padding: 11px;
  grid-template-columns: min-content 1fr;
  box-sizing: border-box;
  color: $color-alice-blue;
  gap: 15px;

  @include vp-1023 {
    display: inline-block;
    width: 40;
    height: 40px;
  }
}

.navigation__icon {
  fill: $color-deep-sky-blue;
}

.navigation__title {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @include vp-1023 {
    .navigation__item--email &,
    .navigation__item--phone & {
      @include visually-hidden;
    }
  }
}

.navigation__btn {
  margin: 5px auto auto;
  padding: 10px 15px;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  justify-self: flex-start;
  flex: 0 1 160px;

  @include vp-1023 {
    display: none;
  }
}
