.section {
  position: relative;
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  isolation: isolate;

  h2,
  p {
    margin: 0;
  }

  h2 {
    font-family: $additional-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    font-family: $basic-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &--intro p {
    font-size: 22px;
    line-height: 34px;
  }

  &--intro,
  &--services {
    background-color: $color-black-pearl;
  }

  &--contacts {
    background-color: $color-deep-sky-blue;
  }

  &--intro,
  &--services,
  &--contacts {
    color: $color-alice-blue;
  }

  &--intro {
    background-image: image-set(
      url("../img/backgrounds/background_desktop.webp") 1x,
      url("../img/backgrounds/background_desktop@2x.webp") 2x,
      url("../img/backgrounds/background_desktop.jpg") 1x,
      url("../img/backgrounds/background_desktop@2x.jpg") 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    isolation: isolate;

    @include basic-gragient;
  }

  &--about h2 {
    padding-left: 250px;
  }

  @include vp-1024 {
    &--contacts {
      position: relative;
    }

    &--contacts::before {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(to right bottom, $color-black-pearl-transparent 50%, transparent 50.1%) no-repeat;
      content: "";
    }

    &--contacts h2,
    &--contacts p {
      grid-column: 2/-1;
      padding-left: 5px;
    }
  }

  @include vp-1023 {
    padding: 40px 0;

    &--intro {
      background-image: image-set(
        url("../img/backgrounds/background_tablet.webp") 1x,
        url("../img/backgrounds/background_tablet@2x.webp") 2x,
        url("../img/backgrounds/background_tablet.jpg") 1x,
        url("../img/backgrounds/background_tablet@2x.jpg") 2x
      );
    }

    &--about h2 {
      line-height: 1;
      padding-left: 175px;
    }

    &--contacts h2,
    &--contacts p {
      width: 100%;
      padding-bottom: 10px;
    }
  }

  @include vp-767 {
    padding: 25px 0;

    h2 {
      font-size: 28px;
      line-height: 39px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }

    &--intro {
      background-image: image-set(
        url("../img/backgrounds/background_mobile.webp") 1x,
        url("../img/backgrounds/background_mobile@2x.webp") 2x,
        url("../img/backgrounds/background_mobile.jpg") 1x,
        url("../img/backgrounds/background_mobile@2x.jpg") 2x
      );
    }

    &--intro p {
      padding-top: 10px;
    }

    &--about h2 {
      padding-left: 0;
    }

    &--contacts h2 {
      font-size: 30px;
    }
  }
}

.section__wrapper {
  display: flex;
  margin: 0 auto;
  flex-grow: 1;
  flex-wrap: wrap;
  width: clamp(270px, 100%, 1342px);
  padding-left: 60px;
  padding-right: 60px;
  background-position: left center;
  background-repeat: no-repeat;

  .section--intro & {
    padding: 250px 185px 222px;
    gap: 40px;
  }

  .section--contacts & {
    padding-top: 105px;
    padding-bottom: 155px;
  }

  .section--about & {
    position: relative;
  }

  .section--about &::before {
    position: absolute;
    display: inline-block;
    left: 60px;
    top: 0;
    height: 320px;
    width: 160px;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: image-set(
      url("../img/backgrounds/2022.png") 1x,
      url("../img/backgrounds/2022@2x.png") 2x,
      url("../img/backgrounds/2022.jpg") 1x,
      url("../img/backgrounds/2022@2x.jpg") 2x
    );
    content: "";
  }

  @include vp-1024 {
    .section--contacts & {
      display: grid;
      grid-template-columns: minmax(0, 50%) max-content;
      gap: 12px 10px;
      background-image: image-set(
        url("../img/backgrounds/paper-plane.webp") 1x,
        url("../img/backgrounds/paper-plane@2x.webp") 2x,
        url("../img/backgrounds/paper-plane.png") 1x,
        url("../img/backgrounds/paper-plane@2x.png") 2x
      );
      background-repeat: no-repeat;
      background-position: 7% 43%;
      background-size: 38%;
    }
  }

  @include vp-1023 {
    padding-left: 50px;
    padding-right: 50px;

    .section--intro & {
      padding: 140px 50px;
      gap: 0;
    }

    .section--services & {
      padding-top: 20px;
    }

    .section--contacts & {
      padding-top: 5px;
      padding-bottom: 55px;
    }

    .section--about &::before {
      left: 45px;
    }
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;

    .section--intro & {
      padding: 125px 25px 100px;
      min-height: 510px;
      box-sizing: border-box;
    }

    .section--about &::before {
      display: none;
    }

    .section--services & {
      padding-top: 22px;
    }

    .section--contacts & {
      padding-top: 25px;
      padding-bottom: 30px;
    }
  }
}

.section__header-content {
  &--mobile {
    display: none;
  }

  @include vp-767 {
    &--mobile {
      display: inline;
    }

    &--desktop {
      display: none;
    }
  }
}
