.services-list {
  padding: 60px 0 80px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(30px, 5vw, 85px);

  @include vp-1023 {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.services-list__list-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  background-color: $color-white-transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity $trans-default;
  isolation: isolate;

  h3 {
    margin: 0;
    margin-right: auto;
    flex: 1 1 230px;
    font-family: $additional-font;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: inherit;
  }

  a {
    display: inline-flex;
    padding: 50px 40px 100px 40px;
    flex-grow: 1;
    flex-direction: row;
    min-height: 650px;
    color: inherit;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.5;
    }
  }

  &--board {
    background-image: image-set(
      url("../img/backgrounds/board_desktop.webp") 1x,
      url("../img/backgrounds/board_desktop@2x.webp") 2x,
      url("../img/backgrounds/board_desktop.jpg") 1x,
      url("../img/backgrounds/board_desktop@2x.jpg") 2x
    );
  }

  &--installation {
    background-image: image-set(
      url("../img/backgrounds/installation_desktop.webp") 1x,
      url("../img/backgrounds/installation_desktop@2x.webp") 2x,
      url("../img/backgrounds/installation_desktop.jpg") 1x,
      url("../img/backgrounds/installation_desktop@2x.jpg") 2x
    );
  }

  &--light {
    background-image: image-set(
      url("../img/backgrounds/light_desktop.webp") 1x,
      url("../img/backgrounds/light_desktop@2x.webp") 2x,
      url("../img/backgrounds/light_desktop.jpg") 1x,
      url("../img/backgrounds/light_desktop@2x.jpg") 2x
    );
  }

  @include vp-1023 {
    a {
      padding: 40px 80px 90px 45px;
      min-height: 250px;
    }

    &--board {
      background-image: image-set(
        url("../img/backgrounds/board_tablet.webp") 1x,
        url("../img/backgrounds/board_tablet@2x.webp") 2x,
        url("../img/backgrounds/board_tablet.jpg") 1x,
        url("../img/backgrounds/board_tablet@2x.jpg") 2x
      );
    }

    &--installation {
      background-image: image-set(
        url("../img/backgrounds/installation_tablet.webp") 1x,
        url("../img/backgrounds/installation_tablet@2x.webp") 2x,
        url("../img/backgrounds/installation_tablet.jpg") 1x,
        url("../img/backgrounds/installation_tablet@2x.jpg") 2x
      );
    }

    &--light {
      background-image: image-set(
        url("../img/backgrounds/light_tablet.webp") 1x,
        url("../img/backgrounds/light_tablet@2x.webp") 2x,
        url("../img/backgrounds/light_tablet.jpg") 1x,
        url("../img/backgrounds/light_tablet@2x.jpg") 2x
      );
    }
  }

  @include vp-767 {
    h3 {
      font-size: 18px;
      flex-basis: 150px;
    }

    a {
      padding: 25px 60px 60px 30px;
    }
  }

  @include basic-gragient;
}

.services-list__btn {
  position: absolute;
  padding: 30px;
  box-sizing: border-box;
  background-color: $color-deep-sky-blue;
  border-radius: 3px 0 0 0;
  bottom: 0;
  right: 0;

  &::after,
  &::before {
    position: absolute;
    display: block;
    height: 1px;
    width: 6px;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: $color-white;
    border-radius: 0 1px 1px 0;
    content: "";
  }

  &::after {
    transform-origin: top right;
    transform: rotate(-45deg);
  }

  &::before {
    transform-origin: bottom right;
    transform: rotate(45deg);
  }

  @include vp-767 {
    padding: 20px;

    &::after,
    &::before {
      width: 5px;
    }
  }
}
